.header
  .header-home
    = link_to root_path do
      = image_tag "/home.jpeg",heith:90,width:90
  .header-title
    日 本 の 秘 湯
  .header-content_a 
    = link_to user_path(current_user.id) do
      = current_user.name
  .header-content_b
    = link_to "ログアウト", destroy_user_session_path, method: :delete