.wrapper
  = render 'tweets/header'
  .main_show
    .main_show_tweet_back
    .show_content
      - @tweets.each do |tweet|
        .show_box
          .name_time
            .show_name
              = current_user.name
            .show_time
              = tweet.created_at.strftime('%Y/%m/%d %H:%M')
            .destroy_edit
              - if user_signed_in? && current_user.id == tweet.user_id
                = link_to '削除', "/tweets/#{tweet.id}", method: :delete
                = link_to '編集', "/tweets/#{tweet.id}/edit", method: :get
          .area_address
            .show_area
              = tweet.area.name
            .show_address
              = tweet.address
          .show_image
            = image_tag tweet.image.url
          .show_text
            = tweet.text
